[force_move]
enable_force_move: True

[AFC_extruder extruder]
# pin_tool_start: ^!EBBCan:PB7
pin_tool_start: buffer
#pin_tool_end: None
tool_stn: 67                   # 112 Distance from the toolhead sensor to the tip of the nozzle in mm.
tool_stn_unload: 55            # Unload distance for the toolhead in mm.
tool_sensor_after_extruder: 0   # Distance in mm.
tool_unload_speed: 25           # Unload speed in mm/s. Default is 25mm/s.
tool_load_speed: 25             # Load speed in mm/s. Default is 25mm/s.
buffer: TN

# # [filament_switch_sensor bypass]
# # switch_pin: ^Turtle_1:BYPASS
# # pause_on_runout: False
# # runout_gcode: FILAMENT_REMOVED  # Makro bei Filament-Entnahme
# # insert_gcode: FILAMENT_INSERTED  # Makro bei Filament-Erkennung

# # [delayed_gcode SET_FILAMENT_MONITOR]
# # initial_duration: 0.0
# # gcode:
# #     {% if printer['gcode_macro SET_FILAMENT_MONITOR'].ENABLE %}
# #     M117 Encoder Sensor Enabled
# #     SFS_ENABLE
# #     {% else %}
# #     M117 Encoder Sensor Disabled
# #     SFS DISABLE
# #     {% endif %}
    
# # [gcode_macro FILAMENT_INSERTED]
# # gcode:
# #     M117 Enabling Encoder Sensor
# #     SET_GCODE_VARIABLE MACRO=SET_FILAMENT_MONITOR VARIABLE=ENABLE VALUE=True

# # [gcode_macro FILAMENT_REMOVED]
# # gcode:
# #     M117 Disabling Encoder Sensor
#     SET_GCODE_VARIABLE MACRO=SET_FILAMENT_MONITOR VARIABLE=ENABLE VALUE=False

# [filament_motion_sensor encoder_sensor]
# switch_pin: ^PG13
# detection_length: 10
# extruder: extruder
# pause_on_runout: False
# runout_gcode:
#     PAUSE
#     M117 Filament encoder runout
# insert_gcode:
#     M117 Filament encoder inserted



[AFC_buffer Turtle_1]
advance_pin: ^PG14    # set advance pin
trailing_pin: ^PG15  # set trailing pin
multiplier_high: 1.1   # default 1.05, factor to feed more filament
multiplier_low:  0.95   # default 0.95, factor to feed less filament
