[mcu Night_Owl]
canbus_uuid: 504d09c133e0
#serial: <replace with your /dev/serial/by-id/...> and comment out canbus_uuid above

[AFC_NightOwl Night_Owl]
#type: 'Box Turtle'
hub: Night_Owl
extruder: extruder
# buffer: <buffer_name> If not defined below from the install script, uncomment and add buffer name if using a buffer
buffer: Turtle_1
long_moves_speed: 100
long_moves_accel: 400

[temperature_sensor Night_Owl]
sensor_type: temperature_mcu
sensor_mcu: Night_Owl

[AFC_stepper lane5]
unit: Night_Owl:1
step_pin: Night_Owl:gpio10
dir_pin: Night_Owl:gpio9
enable_pin: !Night_Owl:gpio8

microsteps: 16
rotation_distance: 4.65
dist_hub: 70.0
park_dist: 10
#led_index: AFC_Indicator:1
#afc_motor_rwd: Night_Owl:MOT1_RWD
#afc_motor_fwd: Night_Owl:MOT1_FWD
#afc_motor_enb: Night_Owl:MOT1_EN
#rwd_speed_multiplier: 0.5
#fwd_speed_multiplier: 0.5
#pwm: True
prep: ^Night_Owl:gpio3
load: ^Night_Owl:gpio4

[tmc2209 AFC_stepper lane5]
uart_pin: Night_Owl:gpio11
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane6]
unit: Night_Owl:2
step_pin: Night_Owl:gpio16
dir_pin: !Night_Owl:gpio15
enable_pin: !Night_Owl:gpio14
microsteps: 16
rotation_distance: 4.65
dist_hub: 70.0 
park_dist: 10
#led_index: AFC_Indicator:2
#afc_motor_rwd: Night_Owl:MOT2_RWD
#afc_motor_fwd: Night_Owl:MOT2_FWD
#afc_motor_enb: Night_Owl:MOT2_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
#pwm: True
prep: ^Night_Owl:gpio5
load: ^Night_Owl:gpio2

[tmc2209 AFC_stepper lane6]
uart_pin: Night_Owl:gpio17
uart_address: 0
run_current: 0.8
sense_resistor: 0.110



[AFC_hub Night_Owl]
afc_bowden_length: 1595.0 
move_dis: 50                # Distance to move the filament within the hub in mm.
cut: False                  # Hub cutter installed (e.g. Snappy)
assisted_retract: True     # If True, retracts are assisted to prevent loose windows on the spool
switch_pin: ^Night_Owl:gpio24

#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#

# cut_cmd: AFC #CMD to use
# cut_dist: 50                # How much filament to cut off (in mm).
# cut_clear: 120              # How far the filament should retract back from the hub (in mm).
# cut_min_length: 300.0
# cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
# cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
# cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).


#[AFC_screen Night_Owl]
#mac_address: None

# [AFC_led AFC_Indicator]
# pin: Night_Owl:RGB1
# chain_count: 4
# color_order: GRB

# [neopixel Logo]
# pin: Night_Owl:RGB2
# chain_count: 11
# color_order: GRB
# initial_RED: 0.0
# initial_GREEN: 0.0
# initial_BLUE: 0.2

#[neopixel Extra3]
#pin: Night_Owl:RGB3
#chain_count: 6
#color_order: GRB

#[neopixel Extra4]
#pin: Night_Owl:RGB4
#chain_count: 4
#color_order: GRB
